@use "header.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*colors*/
$background-main-color: #121212;
$background-light-color: #202020;
$background-dark-color: #0A0A0A;

$effect-main-color: #030303; /* Effects, shadows */

$text-main-color: #E0E0E0;
$text-dark-color: #777777;

$accent-main-color: #7D00D1;
$accent-light-color: #A933E7;
$accent-dark-color: #5B009F;

/* content size */
$box-width: 1100px;

/*circle size*/
$circle-width: 25px;
$circle-height: 25px;
$circle-gap: 5px;

/*fonts*/
$text-main-font-family: "Roboto", sans-serif;
$text-h1-font-size: 4em;
$text-p-font-size: 1.05em;
$text-h2-font-size: 3em;
$text-h3-font-size: 2em;



* {
    box-sizing: border-box;
    font-family: $text-main-font-family, serif;
    color: $text-main-color;
    list-style-type: none;
}

h1 { font-size: $text-h1-font-size; }
h2 { font-size: $text-h2-font-size; }
h3 { font-size: $text-h3-font-size; }
p, li, a { font-size: $text-p-font-size; }

body {
    /* transition: 1s; */
    background-color: $background-main-color;
    margin: 0;
    min-width: 300px;
}

a {
    text-decoration: none;
}

form {
    max-width: 600px;
    border-radius: 18px;
}

form h2 {
    margin: 0;
}

input {
    color: black;
    font-size: 1.01em;
    height: 40px;
    width: 100%;
    margin: 15px 0 15px 0;
    display: block;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid $accent-main-color;
}

.form__label {
    margin: 15px 0 15px 0;
    display: block;
}

input:focus {
    outline: 3px solid $accent-dark-color;
}

input[type="checkbox"] {
    width: 12px;
    height: 12px;
    display: inline;
    margin: 15px 0 15px 0;

}

button {
    background-color: $accent-light-color;
    border: none;
    padding: 10px;
    min-width: 110px;
    font-size: 14px;
    transition: 400ms;
    cursor: pointer;
}

button:hover {
    background-color: $accent-dark-color;
}

button[disabled] {
    background-color: $accent-dark-color;
    opacity: 0.6;
    cursor: not-allowed;
}