/*colors*/
$background-main-color: #121212;
$background-light-color: #202020;
$background-dark-color: #0A0A0A;

$effect-main-color: #030303; /* Effects, shadows */

$text-main-color: #E0E0E0;
$text-dark-color: #777777;

$accent-main-color: #7D00D1;
$accent-light-color: #A933E7;
$accent-dark-color: #5B009F;

/* content size */
$box-width: 1100px;

/*fonts*/
$text-main-font-family: "Roboto", sans-serif;
$text-p-font-size: 1.05em;
$text-h3-font-size: 2em;